<div class="main-div">
  <div class="menu-section">
    <div class="position-absolute">
      <img class="logo" src="../../../assets/img/logo.png">
    </div>
    <mat-toolbar class="position-relative toolbar">
      <span>+91 08827889272</span>
      <span>info@adigimak.com</span>
      <div class="social-icons flex">
        <img src="../../../assets/img/fb.svg">
        <img class="mx-2" src="../../../assets/img/linkedin.svg">
        <img class="" src="../../../assets/img/twitter.svg">
      </div>
    </mat-toolbar>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Service
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Shop</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contacts</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-md-12 py-3">
          <ngb-carousel *ngIf="event_list">
            <ng-template ngbSlide *ngFor="let event of current_events">
              <img [src]="event.img" alt="Random slide">
              <div class="carousel-caption">
              </div>
            </ng-template>
          </ngb-carousel>
        </div>
      </div>
    </div>
    <div class="row mx-0">
      <div class="col-md-12 p-4 digimak-section">
        <h2 class="text-center">We Provide Web Solutions to Forward-Thinking Brands, Like Yours!</h2>
        <p class="text-center">At <img class="digimak" src="../../../assets/img/r.png">, we offer distinct web design
          services Kolkata to take your online business to the next level. Our team of
          design experts and developers are hand-picked and work closely with clients to meticulously monitor the entire
          process of web design and development. With our creative and innovative solutions, you are sure to get massive
          appreciation from your target audience.
        </p>
      </div>
    </div>
    <div class="container strategy-container p-3">
      <div class="row strategy mx-0">
        <div class="col-md-6 d-flex">
          <div class="col-md-2 ">
            <img src="../../../assets/img/local_search_icon.png">
          </div>
          <div class="col-md-9">
            <strong>Local Search Strategy</strong>
            <br><span>Assuming you need to make your site
              nearby SEO agreeable, then, at that point, we can assist you with this. We will actually want to make your
              site
              connected with the watchwords for the area.
            </span>
          </div>
        </div>
        <div class="col-md-6 d-flex">
          <div class="col-md-2 ">
            <img src="../../../assets/img/link_icon.png">
          </div>
          <div class="col-md-9">
            <strong> Link Building</strong>
            <br><span> We can assist you with concocting probably the best links for your site through the absolute best
              techniques,
              incorporating working with other well-known destinations.
            </span>
          </div>
        </div>
      </div>
      <div class="row strategy mx-0">
        <div class="col-md-6 d-flex">
          <div class="col-md-2 ">
            <img src="../../../assets/img/website_icon.png">
          </div>
          <div class="col-md-9">
            <strong>Custom Website Design</strong>
            <br><span>You ought to consistently ensure that your website is modern, which implies that every once in a
              while you
              would have to have it planned. We can assist you with this and all that shows up with it, including the
              testing and considerably more, so let us help you and your business and we make for you custom and with
              bunches of enthusiasm.
            </span>
          </div>
        </div>
        <div class="col-md-6 d-flex">
          <div class="col-md-2 ">
            <img src="../../../assets/img/link_icon.png">
          </div>
          <div class="col-md-9">
            <strong>Custom Email Design</strong>
            <br><span>
              A custom email format is needed to extend your business to your end client as one of a kind, real and
              spellbinding. Very much planned messages will in general command the notice of guests, directing them
              through the purchasing choice. </span>
          </div>
        </div>
      </div>
      <div class="col-md-12 d-flex justify-content-center seo-btn">
        <button class="p-2 px-3">FREE SEO CONSULTATION</button>
        <button class="ml-2 px-3">REQUEST A FREE QUOTE</button>
      </div>
    </div>
    <div class="digital-marketing-container mt-5 p-3">
      <div class=" row">
        <div class="col-md-1">

        </div>
        <div class="col-md-5 pt-5 pl-5 dm-section">
          <h3><strong>We Offer a Full Range of<br>
              Digital Marketing Services!</strong> </h3>
          <p>Our full range of digital marketing
            services includes:-</p>
          <ul class="p-0">
            <li>
              <span class="ml-2"> Web scraping service</span>
            </li>
            <li class="mt-1">
              <span class="ml-2"> Website Design & Development</span>
            </li>
            <li class="mt-1"> <span class="ml-2"> On-page Optimization</span></li>
            <li class="mt-1"> <span class="ml-2"> Local Search Optimization</span></li>
            <li class="mt-1"> <span class="ml-2"> Google Adwords</span></li>
            <li class="mt-1"> <span class="ml-2"> Digital Advertising & Transformation</span>
            </li>
          </ul>
          <div class="col-md-12 d-flex justify-content-start light-btn mt-4">
            <button class="p-2 px-3">LEARN MORE</button>
            <button class="ml-5 px-3">GET QUOTE</button>
          </div>
        </div>
        <div class="col-md-4 mt-5">
          <img class="w-100 mt-4" src="../../../assets/img/digital-marketing.png">
        </div>
        <div class="col-md-2">
        </div>
      </div>
      <div class="row dm mt-4">
        <div class="col-md-3 text-center">
          <span>96%</span>
          <p class="d-block">Client Retention</p>
        </div>
        <div class="col-md-3 text-center">
          <span> 10</span>
          <p class="d-block">Years of Service</p>
        </div>
        <div class="col-md-3 text-center">
          <span> 230+</span>
          <p class="d-block">Professionals</p>
        </div>
        <div class="col-md-3 text-center">
          <span> 690+</span>
          <p class="d-block">Satisfied Clients</p>
        </div>
      </div>
    </div>
    <div class="seo-section">
      <h2 class="text-center">Affordable SEO Services Packages</h2>
      <p class="text-center">A <img class="digimak" src="../../../assets/img/r.png"> is a pioneer SEO specialist co-op
        and we have been offering our services throughout recent years. With long periods of involvement with working
        inside a huge number of ventures, we realize what works for your business. We follow a customized and execution
        driven way to deal with the most productive SEO services in India at moderate expenses. We offer adaptable SEO
        bundles that empower even independent ventures to develop and flourish online with more deals.
      </p>
      <div class="d-flex seo-cards justify-content-center">
        <div class="col-md-3">
        <mat-card>
          <mat-card-content>
            <img src="../../../assets/img/technology_icon.png">
            <span class="d-block"><strong>Technology</strong> </span>
            <p>
              We take a remarkable procedure when it comes to technical SEO. Rather than the traditional "set it and
              fail to remember it" approach that numerous agencies adopt, we are both proactive and responsive, ensuring
              the technical SEO aspects of your site are well within best practices. We consistently screen Google
              Search Console, run crawls of your site, and notice the speed at which your pages load. These elements are
              critical to keeping up with your site usefulness and influence your ability to be indexed and ranked in
              search engines.

            </p>
          </mat-card-content>
        </mat-card>
        </div>
        <div class="col-md-3">
          <mat-card class="objective">
            <mat-card-content>
              <img src="../../../assets/img/objective_icon.png">
              <span class="d-block"><strong>Objective</strong> </span>
              <p>
                To build solid SEO Services for B2B Leads, Drive Traffic and Boost Conversions. Demonstrated Result.
                Increase Brand Awareness. Develop With Us! Reasonable SEO Services. Ensured Ranking. #1 SEO Service
                Provider in India.
              </p>
            </mat-card-content>
          </mat-card>
        <button class="d-block" mat-button color="primary">Primary</button>
        </div>
        <div class="col-md-3">
        <mat-card>
          <mat-card-content>
            <img src="../../../assets/img/strategy_icon.png">
            <span class="d-block"><strong>Strategy</strong> </span>
            <p>
              To make your business website arrive at the designated clients at the ideal opportunity in the mix with
              the high standing and best data through genuine content marketing and search engine optimization
              strategies. Our team can assist you to trade smartly to earn maximum online revenues.
            </p>
          </mat-card-content>
        </mat-card>
        <button mat-button color="primary">Primary</button>
        </div>
        <div class="col-md-3">
        <mat-card>
          <mat-card-content>
            <img src="../../../assets/img/analytics_icon.png">
            <span class="d-block"><strong>Analytics</strong> </span>
            <p>
              We take a remarkable procedure when it comes to technical SEO. Rather than the traditional "set it and
              fail to remember it" approach that numerous agencies adopt, we are both proactive and responsive, ensuring
              the technical SEO aspects of your site are well within best practices. We consistently screen Google
              Search Console, run crawls of your site, and notice the speed at which your pages load. These elements are
              critical to keeping up with your site usefulness and influence your ability to be indexed and ranked in
              search engines.

            </p>
          </mat-card-content>
        </mat-card>
        </div>
      </div>
    </div>

  </div>
</div>